body {
    font-family: 'Inter', sans-serif;
    background: #E0F7FF;
    padding: 40px;
}

.container{
    margin-left: 310px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 12px black;
}

top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.btn-check{
    background: #E6E6E6;
    border-radius: 10px;
    border: 1px solid black;
    font-weight: bold;
    margin: 10px;
    font-size: 14px;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.icon-gear{
    font-size: 18px;
    color: black;
}

.search-box {
    position: relative;
}

.search-box input {
    padding: 6px 30px 6px 10px;
    border: 1px solid #aaa;
    border-radius: 10px;
}

.search-box i {
    position: absolute;
    right: 10px;
    top: 8px;
    color: #555;
}

.member-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.member-table thead {
    background-color: #d2efff;
}

.member-table th,
.member-table td {
    padding: 12px 10px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}

.member-table tbody tr:hover {
    background-color: white;
}

.status {
    font-weight: bold;
}

.status.normal {
    color: green;
}

.status.rest {
    color: gray;
}

.status.expelled {
    color: red;
}

.status.wait {
    color: orange;
}