body {
    margin: 0;
    padding: 0;
    background-color: #dff5fd;
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 1100px; /* 전체 크기 줄이기 */
    margin: 40px auto; /* 중앙 정렬 */
    padding: 20px;
}

.page-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.table-wrapper {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    overflow-x: auto;
    width: 120%;
    margin: 10% auto 0;
    height: 70%;
}

.pay-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.pay-table thead th {
    background-color: rgba(11, 155, 227, 0.4);
    border: 1px solid #e0e0e0;
    padding: 10px;
    font-weight: 700;
    font-size: 14px;
}

.pay-table tbody td {
    border: 1px solid #e0e0e0;
    padding: 10px;
    font-size: 14px;
}
