body {
    margin: 0;
    padding: 0;
    background-color: #dff5fd;
    font-family: 'Inter', sans-serif;
}

.title{
    margin-bottom: 20px;
}
.table-wrapper {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    overflow-x: auto;
    margin: 160px 40px 0 310px;
}

.pay-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.pay-table thead th {
    background-color: rgba(11, 155, 227, 0.4);
    border: 1px solid #e0e0e0;
    padding: 10px;
    font-weight: 700;
    font-size: 14px;
}

.pay-table tbody td {
    border: 1px solid #e0e0e0;
    padding: 10px;
    font-size: 14px;
}
