body {
    margin: 0;
    padding: 0;
    background-color: #dff5fd;
    font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
    display: block;
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: #888; /* 스크롤바 색상 */
    border-radius: 5px; /* 둥근 모서리 */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* 스크롤바 트랙(배경) 색상 */
}

.title{
    margin-bottom: 20px;
}

.container{
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    overflow-x: auto;
    margin: 160px 40px 0 310px;
}

.table-wrapper {
    overflow: auto;
    height: 60%;
}

.pay-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.pay-table thead th {
    background-color: rgba(11, 155, 227, 0.4);
    border: 1px solid #e0e0e0;
    padding: 10px;
    font-weight: 700;
    font-size: 14px;
}

.pay-table tbody td {
    border: 1px solid #e0e0e0;
    padding: 10px;
    font-size: 14px;
}
